:root {
    --logo: #2D75F4;
    --main-light: #EBF2FF;
    --main-dark: #2264D1;
    --grey-light: #EDEDF0;
    --grey-dark: #4A4B57;
    --dark: #19191D;
    --red: #F44336;
    --shadow-light: #c2c2c7;
    --shadow: #C8D5E9;
    --shadow-dark: #D0D0D2;
}